# Experiment 3
Atharva Sonavane   2019120063   BE EXTC

In [ ]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statistics

Importing all necessary libraries to perform SDA

In [ ]:
rd=pd.read_csv("TikTok_songs_2021.csv")

The given dataset on which statistical analysis is being performed is a dataset of all the hitsongs of 2021 which were popular on the Tiktok app. It contains statistics such as : Name of the Artist, their pop rating, name of the track, the track rating on a scale of 1 to 100, energy, key speechiness, acousticness, valence, tempo, and duration of each song

In [ ]:
rd.head()

,track_name,artist_name,artist_pop,album,track_pop,danceability,energy,key,speechiness,acousticness,valence,tempo,duration_ms,mode
0,STAY (with Justin Bieber),The Kid LAROI,83,STAY (with Justin Bieber),89,0.591,0.764,1,0.0483,0.0383,0.478,169.928,141806,1
1,Peaches (feat. Daniel Caesar & Giveon),Justin Bieber,90,Justice,86,0.677,0.696,0,0.1190,0.3210,0.464,90.030,198082,1
2,edamame (feat. Rich Brian),bbno$,72,edamame (feat. Rich Brian),77,0.815,0.848,4,0.1150,0.0230,0.684,106.032,133707,0
3,Here's Your Perfect,Jamie Miller,65,Here's Your Perfect,77,0.558,0.454,6,0.0551,0.4990,0.424,113.120,158594,1
4,It's You,Sezairi,57,It's You,73,0.630,0.456,8,0.0317,0.5450,0.166,137.915,251440,1

Display of head values of the dataset

In [ ]:
rd.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

artist_pop          70.878947
track_pop           65.578947
danceability         0.708105
energy               0.672700
key                  4.894737
speechiness          0.093522
acousticness         0.204124
valence              0.563204
tempo              125.533495
duration_ms     194612.563158
mode                 0.621053
dtype: float64

Mean of all values of all attributes

Mean of artist_pop is 70.8 which is higher than the mean of track_pop which is 65 this means that the artists that are already popular have a higher chance of having a hit song in the list as compared to lesser known artists.

The mean key of the whole data set is around 5 which tells us that songs having 5 number of flats have a higher chance of gaining popularity.

Key 5 is D major or B minor

In [ ]:
rd.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

artist_pop          73.5000
track_pop           73.0000
danceability         0.7100
energy               0.6920
key                  5.0000
speechiness          0.0557
acousticness         0.1190
valence              0.5840
tempo              122.9750
duration_ms     195806.5000
mode                 1.0000
dtype: float64

Median of all values of all attributes

The median value for duration of songs is 195k(ms) which is very close to the mean value as well so we see that generally the songs that get popular on tiktok are just over 3 minutes

In [ ]:
rd.mode()

,track_name,artist_name,artist_pop,album,track_pop,danceability,energy,key,speechiness,acousticness,valence,tempo,duration_ms,mode
0,Love Me,Justin Bieber,65.0,Planet Her,77.0,0.630,0.611,1.0,0.0317,0.0164,0.386,126.026,220573.0,1.0
1,NaN,NaN,75.0,NaN,NaN,0.691,0.673,NaN,0.0327,NaN,0.543,150.076,NaN,NaN
2,NaN,NaN,85.0,NaN,NaN,0.699,0.739,NaN,0.0402,NaN,0.591,NaN,NaN,NaN
3,NaN,NaN,90.0,NaN,NaN,0.720,0.764,NaN,0.0435,NaN,0.758,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,0.734,0.782,NaN,0.0441,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,0.745,0.884,NaN,0.0467,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,0.778,NaN,NaN,0.0478,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0479,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0483,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0503,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0569,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0707,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0791,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1170,NaN,NaN,NaN,NaN,NaN

Mode of all values of all attributes

In [ ]:
rd.skew()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

artist_pop     -1.277291
track_pop      -1.787041
danceability   -0.384577
energy         -0.507970
key             0.162130
speechiness     2.432277
acousticness    1.089383
valence        -0.254453
tempo           0.650718
duration_ms     0.212818
mode           -0.503038
dtype: float64

Skewness characterizes the degree of asymmetry of a distribution around its mean

Positive skewness indicates a distribution with an asymmetric tail extending toward more positive values

Negative skewness indicates a distribution with an asymmetric tail extending toward more negative values

The skewness of key, danceability, tempo, duration are closer to zero indicating that these attributes have similar values in all songs in the datasets

In [ ]:
statistics.variance(rd['artist_pop'])

234.12812587023114

The variance is a measure of variability

It is calculated by taking the average of squared deviations from the mean. Variance tells you the degree of spread in your data set

The more spread the data, the larger the variance is in relation to the mean

Here we check variance for the attribute 'artist pop' which comes out to be around 238 where as the mean of that attribute is around 70 this high value shows us that there is a lot of variation in the value/ratings of artist_pop

In [ ]:
statistics.variance(rd['energy'])

0.022416391005291005

Variance value for the attribute of energy is very low which indicates that there is less deviation from the mean of the attribute, this is also seen in danceability

In [ ]:
statistics.variance(rd['danceability'])

0.013661385686438317

In [ ]:
#z test
from numpy.random import randn
from statsmodels.stats.weightstats import ztest

alpha=0.05
null_hypo=70.878947

ztest_Score, p_value= ztest(rd['artist_pop'],value = null_hypo, alternative='larger')
# the function outputs a p_value and z-score corresponding to that value, we compare the 
# p-value with alpha, if it is greater than alpha then we do not null hypothesis 
# else we reject it.
  
if(p_value <  alpha):
  print("Reject Null Hypothesis")
else:
  print("Fail to Reject NUll Hypothesis thus null hypothesis true")

Fail to Reject NUll Hypothesis thus null hypothesis true

Z-test is a statistical method to determine whether the distribution of the test statistics can be approximated by a normal distribution

It is the method to determine whether two sample means are approximately the same or different when their variance is known and the sample size is large